{
    "presets": [
        ["env", {
            "modules": "umd",
            "targets": {
                "node": "6.11.5"
            }
        }]
    ],
    "plugins": [
        "transform-function-bind",
        "transform-class-properties",
        "transform-do-expressions",
        "syntax-dynamic-import"
    ],
    "ignore": [
        "node_modules"
    ]
}